# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/
.hypothesis/

# Jupyter
.ipynb_checkpoints

# Editor
.vscode/
*.swp
*.swo

# Docker/DevOps
.env
